
.grid {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 20px;
  width: calc(100% - 40px);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.cell {
  background: #ccc;
  aspect-ratio: 1/1;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
}

.revealed {
  background: transparent;
}

.mine {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mine::before {
  content: '';
  background: #000000;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.flag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag::before {
  content: '';
  background: #ff00ff;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}
